*{
  font-weight: bold;  
  font-family: 'Segoe UI';
}
.USD{
    font-weight: 600;
}
body{
    margin: 0px;
    padding: 0px;
}
.head { 
    display: flex;
    width: 1600px;;
    height: 30px;
    margin-top: 0px;
   box-sizing: border-box;
   justify-content: space-between; /* Ensures space between elements */
}
.head ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0; 
}
.head li{
    cursor: pointer;
    display: flex;                 /* Ensures that children are aligned correctly */
    align-items: center; 
}

.image-noun-shipping, .txt1, .noun-store-img
, .p-stores, .p-stores, .p-newsLetter, .p-About, .p-contact, .p-giftCard{
    
    font-size: 13px;
}
.image-noun-shipping{
    margin: 10px 0px 0px 151px;
}
.txt1{
    margin-top: 6px;
    margin-left: 10px;
    font-size: 13px;
}
.noun-store-img{
    margin: 9px 0px 0px 566px;
    width: 11px;
    height: 11px;
}

.p-stores{
    margin-top: 6px;
    margin-left: 6px;
    width: 47px;
    height: 17px;
}
.p-newsLetter{
    margin-top: 6px;
    margin-left: 20px;
    width: 82px;
    height: 17px;
}
.p-About{
    margin-top: 6px;
    margin-left: 22px;
    width: 44px;
    height: 17px;
}
.p-contact{
    margin-top: 6px;
    margin-left: 22px;
    width: 59px;
    height: 17px;
}
.p-giftCard{
    margin-top: 6px;
    margin-left: 22px;
    width: 63px;
    height: 17px;
}
/* menu bar component */
.menu{
    display: flex;
    width: 1600px;
    height: 62px;
    background-color: #F1F1F1;
    justify-content: space-between; /* Ensures space between elements */
    box-sizing: border-box;  
}
.menu ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0; 
}
.menu li{
    cursor: pointer;
    display: flex;                 /* Ensures that children are aligned correctly */
    align-items: center;  
}
.menu-new{
    margin: 21px 0px 22px 151px;
    width: 33px;
    height: 19px;
    font-size: 14px;
}
.menu-men{
    margin: 21px 0px 22px 32px;
    width: 32px;
    height: 19px;
    font-size: 14px;
}
.menu-women{
    margin: 21px 0px 22px 31px;
    width: 57px;
    height: 19px;
    font-size: 14px;
}
.menu-collection{
    margin: 21px 0px 22px 32px;
    width: 92px;
    height: 19px;
    font-size: 14px;
}
.menu-div{
    background-color: #000000;
    margin: 19px 0px 19px 25px;
    width: 57px;
    height: 24px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 3px 0px 0px 13px;
}

.menu-grp3{
    margin: 15px 0px 15.45px 225.47px;
    width: 65px;
    height: 32px;
}
.menu-bag{
    margin: 18px 0px 18.54px 280px;
    width: 24px;
    height: 25px;
}
.menu-profile{
    margin: 21px 0px 21.26px 27.8px;
    width: 17px;
    height: 19px;
}
.menu-heart{
    margin: 21.5px 0px 20.81px 27.8px;
    width: 23px;
    height: 20px;
}
.menu-search-div {
    display: flex;           
    align-items: center;        
    width: 185px;   
    height: 30px;
    margin:16px 0px 16px 21.5px;
    overflow: hidden;           /* ensure no content spills out */
}

.menu-search-input {
    border: none;                 /* Removes default input border */
    outline: none;                /* Removes default focus outline */
    font-size: 14px;              
    padding: 5px 30px 6px 13.73px;        /* Inner padding (adjust right for icon) */
}

.menu-search-icon {
    position: absolute;                
    margin-left: 162px;                        /* Keeps the icon inside the right edge */
    width: 12.26px;                    
    height: 12.26px;                   
    cursor: pointer;                   
}
/* Placeholder text styling */
.menu-search-input::placeholder {
    color: black;                      
    font-size: 14px;                   
    opacity: 1;                        
}

.first-block{
    height: 837px;
    width: 1600px;
    margin-top: 8px;
    position: relative;
}
.women-block p{
    font-size: 63px; 
    color: #FFFFFF; 
    position: absolute;
    margin-top: 406px;
    margin-left: 165px;
}
.women-on-hover{
    display: none;
}
.women-on-hover .womenBlc-on-hover{
    position: absolute;
    margin-top: 378px;
    margin-left: 228px;
    width: 86px;
    height: 113px;
}
.women-on-hover .women-on-hover-pic{
    position: absolute;
    display: none;
    width: 522px; 
    height: 837px; 
    position: absolute;
    margin-left: 10px;
}
.women-on-hover button{
    position: absolute;
    margin-top: 602px;
    margin-left: 141px;
    width: 235px;
    height: 67px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
}
.hover-women-block:hover .women-blc1{
    filter: brightness(0.58)
}
.women-block:hover p {
    transition: ease-in-out 0.3s;
    margin-top: 138dp;
}
.women-block:hover .women-on-hover{
    transition: ease-in-out 0.7s;
    display:block;
}
.men-block p{
    font-size: 63px; 
    color: #FFFFFF; 
    position: absolute;
    margin-top: 406px;
    margin-left: 734px;
    width: 132px;
    height: 84px;
}
.all-block p{
    font-size: 63px; 
    color: #FFFFFF; 
    position: absolute;
    margin-top: 406px;
    margin-left: 1264px;
    width: 134px;
    height: 84px;
}
#New-In-Women{
    margin-top: 147px;
    margin-left: 638px;
    height: 62px;
    font-size: 46px;
}
    .swiper {
    width: 1600px;
    height: 700px;
}

    .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    }
  .swiperslide.swiper-slide-active, .swiperslide.swiper-slide-next{
    height: auto;
    }
  .swiper-pagination-bullet{
    background: black !important;
    }
    /* .img-container .img-container-img1{
        margin-left: 151px;
    } */
    .img-container .img-container-img2{
    margin-left: 17px;
    }
    .img-container .img-container-img3{
    margin-left: 16px;
    }
    .img-container-txt{
    display: flex;
    height: 32px; 
    margin-top: 14px;
    }
  .img-container-txt div{
    font-size: 24px;
    }
    .img-container-txt div:nth-child(1){
    margin-left: 151px;
    }
    .img-container-txt div:nth-child(2){
    margin-left: 209px;
    }
    .img-container-txt div:nth-child(3){
    margin-left: 274px;
    }
    .img-container-txt div:nth-child(4){
    margin-left: 192px;
    }
  .bigPic-container{
    width: 800px; 
    height: 962px; 
    display: flex;
    }
  .bigPic-container div{
    font-size: 46px;
    position: absolute;
    color: #FFFFFF;
    }
   .big-container-icon{
        position: absolute;
        margin: 477px 0px 0px 691.42px;
        display: none;
    }
    #big-container-hover:hover .big-container-pic1{
        filter: brightness(0.52);
    }
    #big-container-hover:hover .big-container-icon{
        display: block;
    }
    .marccain-logo{
        height: 146px; 
        width: 264px; 
        margin-top: 157px; 
        margin-left: 383px;
    }
    .joop-logo{
    margin-top: 139px;
    margin-left: 98px;
    width: 182px;
    height: 182px;
    }
    .drykorn-logo{
    margin-top: 197px;
    margin-left: 129px;
    width: 197px;
    height: 67px;
    }
    .shop-the-look-pic1{
        height: 872px;
        width: 670px;
        margin: 143px 0px 0px 151px;
    }
    .shop-the-look-pic2{
        background-color: #000000;
        height: 872px;
        width: 628px;
    }
    .shop-the-look-pic2{
        margin: 143px 151px 0px 0px ;
    }
    .shop-the-look-pic2 .shop-the-look-txt{
        color: #FFFFFF;
        font-size: 46px;
        margin: 47px 0px 0px 59px;
    }
    .discover-product{
        background-color: #000000;
        display: flex;
        width: 1298px;
        height: 167px;
        margin: 155px 0px 0px 151px;
    }
    .discover-product .txt1{
        color: #FFFFFF;
        font-size: 46px;
        margin: 51px 0px 0px 60px;
    }
    .discover-product .txt2{
        color: #FFFFFF;
        font-size: 13px;
        margin: 87px 0px 0px 464px;
    }
    .discover-product button{
        background-color: #000000;
        color: #FFFFFF;
        border:1px #FFFFFF solid;
        width: 235px;
        height: 67px;
        margin: 49px 0px 0px 451px;
    }
    .joop-logo-txt{
        position: absolute;
        font-size: 46px; 
        color: #FFFFFF; 
        margin: 432px 0px 0px 501px;
    }
    .drykoon-container{
        position: flex;
        width: 1600px;
        height: 548px;
        margin-top: 102px;
        background-color: #F5F5F5;
    }
    .drykoon-logo{
        position: relative;
    }
    .drykoon-logo-pic{
        position: absolute;
        top: 157px;
        left: 151px;
        width: 197px;
        height: 67px;
    }
    .drykoon-btn{
        position: absolute;
        width: 243px;
        height: 67px;
        padding: 23px 35px 23px 36px;
        top: 323px;
        left: 151px;
        font-size: 16px;
        border: 1px solid #000000;
        cursor: pointer;
    }
    .drykoon-pics{
        width:888px ;
        margin: 76px 0px 0px 561px;
        display: flex;
        padding-top: 76px;
    }
    .drykorn-m{
        margin-left: 4px;
    }
    .marccain-container{
        display: flex;
        margin-top: 134px;
        margin-left: 152px;
    }
    .marccain-pic{
        position: relative;
        width: 917px;
        height: 545px;
    }
    .marccain-logo2{
        position: absolute;
        margin: 242px 0px 0px 285px;
    }
    .shop-now{
        background-color: #000000;
        position: relative;
        width: 381px;
        height: 545px;
    }
    .shop-now-txt1{
        font-size: 65px;
        color: #FFFFFF;
        margin: 168px 0px 0px 72px;
    }
    .shop-now-txt2{
        font-size: 15px;
        color: #FFFFFF;
        margin: 1px 0px 0px 124px;
    }
    .marccain-shop-now-btn{
        position: absolute;
        margin: 97px 0px 0px 88px;
        font-size: 16px;
        width: 206px;
        height: 67px;
        /* background-color: transparent;
        color: #FFFFFF;
        border:1px #FFFFFF solid;
        cursor: pointer; */
    }
    .new-to-act-container{
        margin-left: 151px;
        width: 1298px;
        height: 572px;
        position: relative;
        margin-top: 8px;
    }
    .new-to-act-txt1{
        font-size: 46px;
        margin: 174px 0px 0px 511.5px;
        position: absolute;
        color: #FFFFFF;
    }
    .new-to-act-txt2{
        position: absolute;
        margin: 244px 0px 0px 467.5px;
        color: #FFFFFF;
        font-size: 15px;
    }
    .act-register-btn{
        position: absolute;
        color: #FFFFFF;
        border: 1px solid #FFFFFF ;
        width: 204px;
        height: 67px;
        margin: 332px 0px 0px 547px;
        font-size: 16px;
        background-color: transparent;
        cursor: pointer;
    }
    .browse-again-container{
        margin: 9px 0px 0px 151px;
        width: 1298px;
        height: 418px;
        background-color: #F5F5F5;
    }
    .browse-again-txt1{
        position: absolute;
        font-size: 16px;
        margin: 60px 0px 0px 585px;
    }
    .browse-again-txt2{
        position: absolute;
        font-size: 46px;
        margin: 81px 0px 0px 248px;
    }
    .categorie{
        position: absolute;
        width: 426px;
        height: 153px;
        margin: 222px 0px 0px 436px;
        display: flex;
        flex-wrap: wrap;
    }
    .categorie button {
        flex: 1 1 45%;      
        text-align: center;        
        border: 1px solid black;    
        background-color: transparent; 
        cursor: pointer;           
        font-size: 16px;
    }
    .fast-del-logo{
        margin: 169.5px 0px 0px 340.8px;
        position: absolute;
    }
    .fast-del-logo img{
        width: 59px;
        height: 26px;
    }
    .qlt-logo{
        margin: 165px 0px 0px 782px;
        position: absolute;
    }
    .qlt-logo img{
        width: 35px;
        height: 35px;
    }
    .location-logo{
        margin: 166.5px 0px 0px 1219px
    }
    .fast-logo-txt{
        position: absolute;
        font-size: 12px;
        margin: 25.91px 0px 0px 325px ;
    }
    .qlt-logo-txt{
        position: absolute;
        font-size: 12px;
        margin: 21.13px 0px 0px 739px;
    }
    .location-logo-txt{
        font-size: 12px;
        margin: 22px 0px 0px 1180px;
    }
    .pics{
        margin: 23.5px 0px 0px 151px;
        display: flex;
    }
    @media (max-width: 394px) {
        .women-blc1{
            width: 356px;
            height: 571px;
        }
    }